In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_drug_data_df = pd.read_csv(mouse_drug_data_to_load)
clinical_trial_data_df = pd.read_csv(clinical_trial_data_to_load)


# Combine the data into a single dataset
mouse_drug_clin_trial_merge_df = pd.merge(mouse_drug_data_df, clinical_trial_data_df, on="Mouse ID")

mouse_drug_clin_trial_merge_df

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        f234  Stelasyn          0           45.000000                 0
1        f234  Stelasyn          5           47.313491                 0
2        f234  Stelasyn         10           47.904324                 0
3        f234  Stelasyn         15           48.735197                 1
4        f234  Stelasyn         20           51.112713                 2
...       ...       ...        ...                 ...               ...
1901     j235   Placebo          0           45.000000                 0
1902     j235   Placebo          5           46.588820                 0
1903     j235   Placebo         10           48.018788                 1
1904     j235   Placebo         15           51.161138                 1
1905     j235   Placebo         20           52.942902                 1

[1906 rows x 5 columns]

In [8]:
mouse_drug_clin_trial_merge_df.columns

Index(['Mouse ID', 'Drug', 'Timepoint', 'Tumor Volume (mm3)',
       'Metastatic Sites'],
      dtype='object')

In [6]:
mean_tumor_volume = mouse_drug_clin_trial_merge_df["Tumor Volume (mm3)"].mean()
mean_tumor_volume

50.468119963715026

In [16]:
#Drug_rows = ['Capomulin', 'Infubinol', 'Ketapril', 'Placebo']
#Drug_columns = ['Drug']
#mouse_drug_clin_trial_merge_df.loc = [Drug_rows, Drug_columns]
#mouse_drug_clin_trial_merge_df

#To select rows whose column value is in list
drugs = ['Ceftamin', 'Naftisol', 'Propriva', 'Ramicane', 'Stelasyn','Zoniferol']
mouse_drug_clin_trial_merge_df_reduce = mouse_drug_clin_trial_merge_df[~mouse_drug_clin_trial_merge_df.Drug.isin(drugs)]
mouse_drug_clin_trial_merge_df_reduce

#select_drugs = mouse_drug_clin_trial_merge_df.loc[['Capomulin', 'Infubinol', 'Ketapril', 'Placebo'], ['Drug']]

#select_drugs
# Display the data table for preview
#mouse_drug_clin_trial_merge_df.sort_values("Timepoint").head()

#mouse_drug_clin_trial_merge_df.sort_values("Timepoint").head()

     Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
393      q119  Ketapril          0           45.000000                 0
394      q119  Ketapril          5           47.864440                 0
395      q119  Ketapril         10           51.236606                 0
396      n923  Ketapril          0           45.000000                 0
397      n923  Ketapril          5           45.824881                 0
...       ...       ...        ...                 ...               ...
1901     j235   Placebo          0           45.000000                 0
1902     j235   Placebo          5           46.588820                 0
1903     j235   Placebo         10           48.018788                 1
1904     j235   Placebo         15           51.161138                 1
1905     j235   Placebo         20           52.942902                 1

[777 rows x 5 columns]